EXPO_PUBLIC_DIB_KURAN_API_BASE_URL=https://t061.diyanet.gov.tr/apigateway/acikkaynakkuran
EXPO_PUBLIC_DIB_KURAN_API_TOKEN=buraya_diyanet_api_anahtarinizi_yazin
EXPO_PUBLIC_REWARDS_API_URL=https://huzur-six.vercel.app
UPSTASH_REDIS_REST_URL=https://redis-adresiniz.upstash.io
UPSTASH_REDIS_REST_TOKEN=buraya_upstash_redis_token_yazin
REWARDS_ADMIN_TOKEN=guclu_bir_admin_sifresi_yazin
